
.modal-footer{
    border: none  !important
}

.logout-button{
    position: absolute; 
    right: 0;
    top: 20px;
    border: none;
    color: white;
    background-color: #E9B171;
    font-size: 1.15rem;
    border-radius: 5px;
    padding: 0.5%;
    margin-right: 2%;
}