
.modal-footer{
    border: none  !important
}

.logout-button{
    position: absolute; 
    right: 0;
    top: 20px;
    border: none;
    color: rgb(20,20,20);
    background-color: #E9B171;
    font-size: 1.35rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-right: 2%;
    transition: 0.2s ease-in-out;
}

.logout-button:hover, .logout-button:focus{
    box-shadow: 0 0.5em 1em -0.4em #E9B171;
    transform: translateY(-0.25em)  scale(1.05);
}