body{
    background: rgb(24, 24, 24);
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    width: 5px;
    background-color: rgb(56, 56, 56);
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(41, 41, 41);
}



