.nth-home {
    margin: 1% 0  ;
    text-align: center;
    color: white;
}

.nth-home h3{
    margin-top: 1.5%;
}

.nth-home h5{
    margin: 0  0 1.5%;
    
}

.nth-home p{
    color: #E9B171;
    font-size: 140%;
}

.nth-home img {
    display: block;
    margin: auto;
    margin-bottom: 1%;
}

@media screen and (max-width: 650px) {
    .nth-home img{
        width: 70%;
    }
}


@media screen and (max-width: 480px) {
    .nth-home img{
        width: 90%;
    }
}



.nth-home .hunt-button {
    background: #E9B171;
    border-radius: 10px;
    border: none;
    padding: 8px 20px;
    color: rgb(20, 20, 20);
    font-size: larger;
    margin: 2rem auto;
    transform:  scale(1.10);
  }
  
 .nth-home .hunt-button:hover {
    font-weight: bold;
  }
