.nth-home {
    margin: 2% 0 ;
    text-align: center;
    color: white;
}

.nth-home h5{
    margin: 0  0 1%;
    
}

.nth-home p{
    color: #E9B171;
    font-size: 140%;
}

.nth-home img {
    display: block;
    margin: auto;
    width: 300px;
    margin-bottom: 1%;
}

@media screen and (max-width: 650px) {
    .nth-home img{
        width: 70%;
    }
}


@media screen and (max-width: 480px) {
    .nth-home img{
        width: 90%;
    }
}



.nth-home .hunt-button {
    background: #E9B171;
    border-radius: 10px;
    border: none;
    padding: 8px 20px;
    color: white;
    font-size: larger;
    margin: 4rem auto;
    transform:  scale(1.10);
  }
  
 .nth-home .hunt-button:hover,
 .nth-home .hunt-button:focus {
    box-shadow: 0 0.5em 1em -0.4em #E9B171;
    transform: translateY(-0.25em)  scale(1.10);
  }
