.gradient-border {
  position: relative;
  background: black;
  /* background: #29a19c; */
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
}
.bg-transparent {
  background-color: transparent !important;
}
.gradient-box {
  background: rgba(0, 0, 0, 1);
}
.row-inner {
  height: 100%;
  width: auto;
}
#IEEE,
#PISB,
#PING {
  /* background: url("../img/PISB-bg-1.jpg"); */
  height: 500px;
  background-size: 100% 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(34, 40, 49);
  /* background: #212730; */
}
/* #PISB {
  background: url("../img/IEEE-bg-3.jpg");
  background-size: cover;
  background-size: 100% 500px;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
} */
/* #PING {
  background: url("../img/ping1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
} */
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * 3px);
  left: calc(-1 * 3px);
  height: calc(100% + 3px * 2);
  width: calc(100% + 3px * 2);
  background: linear-gradient(
    60deg,
    /* #f79533,
    #f37055,
    #ef4e7b,
    #a166ab, */ #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * 3px);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
