.error-modal h4{
    color: white;
    margin-bottom: 3.5rem;
}

.error-modal button{
    width: 80px;
  position: absolute;
  bottom: 15px;
  right: 20px;
  background-color: #29a19c;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  font-size: 120%;
}