@font-face {
  font-family: "alien-bold";
  src: url("../fonts/alienleaguebold.ttf");
}
.text-scramble {
  color: white;
  font-family: "alien-bold", sans-serif !important;
}

@media (max-width: 768px) {
  .font-res {
    font-size: 2.5rem !important;
  }
}
