.leaderboard{
    margin: 4% 0 0 !important;
}

.leaderboard .player{
    width: 70%;
    background: rgb(255,118,0);
background: linear-gradient(90deg, rgba(255,129,20,1) 21%, rgba(255,146,52,1) 55%, rgba(255,176,108,1) 95%);
color: white;
    border-radius: 5px;
    margin: 2% auto;
    padding: 2% 0;
}