.web-team{
    margin-bottom: 5.5rem;

}

.web-team .close-button{
    position: absolute;
    border-radius: 100%;
    right: 15px;
    top: 6rem;
}
.web-team .close-button:hover , .close-button:focus{
    background-color: rgb(255, 255, 255);
    box-shadow:0 0.5em 1em -0.4em rgb(216, 216, 216);
}
.web-team .team-members{
    margin-top: 2rem;
}

@media screen and(max-width:650px) {
    .team-members{
        margin-top: 2rem;
    }
}

.web-team .team-member img{
 width: 260px;
 border-radius: 2px;
 
}

.web-team .team-member{
    margin: 3rem auto 0;
    text-align: center;
    background-color: white;
    width: 270px;
    border: 5px solid white;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
    
}



.web-team .team-member .fab{
    color: white;
    background-color: rgb(65, 65, 65);
    border-radius: 100%;
    padding: 12px 13px;
    font-size: 1.2rem;
    margin: 5px auto 0;
}

.web-team .team-member .fab:hover{
    background-color: #0077B5;
    transition: 0.4s;
    transform: rotateZ(360deg);
}